* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  margin: 0px auto;
  position: relative;
  max-width: 1440px;
  width: 1440px;
  background: #ffffff;
  overflow: hidden;
}
body {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .header {
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  padding: 12px 82px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .header .logo_container {
  padding: 8px 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  color: #181c29;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.wrapper .header .logo_container a {
  cursor: pointer;
  color: #181c29;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
}

.wrapper .header .navbar {
  gap: 8px;
  align-items: center;
  display: flex;
}
.wrapper .header .navbar a {
  padding: 12px 20px;
  text-decoration: none;
  cursor: pointer;
  color: #181c29;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.footer {
  width: 100%;
  height: 496px;
}
.footer_container {
  padding: 60px 82px;
}

.footer_cards {
  display: flex;
  gap: 12px;
  padding-bottom: 60px;
}
.footer_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 12px;
  width: 417.33px;
  height: 204px;
  background: #ecf3f8;
  border-radius: 20px;
  cursor: pointer;
}

.footer_card img {
  max-width: 80px;
  max-height: 80px;
}

.footer_card h3 {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #181c29;
}

.footer_card p {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}

.socials {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}
.socials img {
  max-width: 40px;
  max-height: 40px;
  cursor: pointer;
}
.footer_paragraph {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  line-height: 148%;
  color: #181c29;
  text-align: center;
}

.footer_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.footer .action_text {
  color: #181c29;
  text-align: center;
}

.gifts_section {
  width: 100%;
  height: 1394px;
  background-image: url(./images/bg-garland.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #ff4646;
  border-radius: 20px 20px 20px 20px;
  padding: 60px 82px;
}

.gifts_container h1 {
  font-family: "Montserrat";
  font-size: 32px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.gifts_text_container {
  padding: 0px 425px;
}
.gifts_tabs {
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.gifts_tabs button {
  padding: 12px 20px;
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: none;
  border-radius: 12px;
  background-color: inherit;
}

.gifts_cards_container {
  display: flex;
  gap: 12px;
  flex-flow: row wrap;
}
.gifts_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 310px;
  height: 342px;
  background: #ecf3f8;
  border-radius: 20px;
  cursor: pointer;
}
.gifts_card_inside {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 8px;
  width: 310px;
  height: 112px;
  background: #ffffff;
  border-radius: 20px;
}

.gifts_card img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.gifts_card_inside h4 {
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #4361ff;
}
.gifts_card_inside h3 {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #181c29;
}

.gifts_card_inside .health_text {
  color: #06a44f;
}
.gifts_card_inside .harmony_text {
  color: #ff43f7;
}

.action_text {
  font-family: "Allura";
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.wrapper .header .navbar .active_a {
  background: rgba(255, 70, 70, 0.1);
  border-radius: 12px;
  color: #ff4646;
  cursor: default;
}

.gifts_tabs .active_tab {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  cursor: default;
}

.footer_cards a {
  text-decoration: none;
  color: #181c29;
}

.footer_info a {
  text-decoration: none;
}

